<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>chatapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>StoragePath</param-name>
  <param-value>/home/sabrin-zt659/Downloads/AdventNetMickeyLite/AdventNet/MickeyLite</param-value>
  </context-param>
  
  <filter>
  	<filter-name>SessionCheck</filter-name>
  	<filter-class>SessionCheckFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>SessionCheck</filter-name>
  	<url-pattern>/chatapp/*</url-pattern>
  </filter-mapping>
  
   <servlet>
  	<servlet-name>authenticate</servlet-name>
  	<servlet-class>chatapp.AuthServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>authenticate</servlet-name>
  	<url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>signup</servlet-name>
  	<servlet-class>chatapp.SignUpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>home</servlet-name>
  	<servlet-class>chatapp.WelcomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/chatapp/welcome</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>requests</servlet-name>
  	<servlet-class>chatapp.RequestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>requests</servlet-name>
  	<url-pattern>/chatapp/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>friends</servlet-name>
  	<servlet-class>chatapp.FriendServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>friends</servlet-name>
  	<url-pattern>/chatapp/friends</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>people</servlet-name>
  	<servlet-class>chatapp.PeopleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>people</servlet-name>
  	<url-pattern>/chatapp/people</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>sendRequest</servlet-name>
  	<servlet-class>dataStore.RequestSender</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>sendRequest</servlet-name>
  	<url-pattern>/chatapp/sendrequest/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>acceptRequest</servlet-name>
  	<servlet-class>dataStore.RequestAccept</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>acceptRequest</servlet-name>
  	<url-pattern>/chatapp/acceptrequest/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>displayChat</servlet-name>
  	<servlet-class>dataStore.ChatDisplay</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>displayChat</servlet-name>
  	<url-pattern>/chatapp/chat/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>sendChat</servlet-name>
  	<servlet-class>dataStore.MessageSender</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>sendChat</servlet-name>
  	<url-pattern>/chatapp/chatsend</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>chatapp.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/chatapp/logout</url-pattern>
  </servlet-mapping>
</web-app>